# ------------------------------
# BUILD SYSTEM
# ------------------------------
bin
build
lib
CMakeFiles
.cache
.vs

compile_commands.json
include/Config.h

# ------------------------------
# OS Files
# ------------------------------
.DS_Store
Thumbs.db

